@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/*BODY*/
body {
    font-family: 'Gothic A1', sans-serif;
    background-image: linear-gradient(to top,#FFFFFF,#b7d8cc);
}

/*Divisorios*/
.div--bordertop {
    border-top: #258260 0.01rem solid;
}


/* Navegador */
.nav--fontsize {
    font-size: 1.5rem;
}
nav div ul li {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Carter One', cursive;
    color: #3fb68b !important
}
li ul li a:active {
    background-color: #FFFFFF !important;
}
@media (min-width: 992px) and (max-width: 1182px) {
    .nav--fontsize {
        font-size: 1.2rem;
    }
    nav div ul li {
        padding-right: 0rem;
        padding-left: 0rem;
}
}





/*Boton subir*/
button a:hover {
    font-weight: bold;
    color: #3fb68b !important;
    font-family: 'Gothic A1', sans-serif;
}

/*Titulos*/
h4 {
    font-family: 'Carter One', cursive;
    color: #3fb68b;
    font-size: 3rem;
}
h3 {
    font-family: 'Carter One';
    color: #3fb68b;
    list-style: none;
}
/*Quien Soy*/
.quiensoy--letra {
    font-size: 1.2rem;
}

/*Especialidades*/
dl:hover {
    color: #258260;
    background-color: #dbe9e4;
    font-style: italic;
}

/*Consul*/
.consul--button {
    background-color: #cee7de;
}


/* Footer */
.div--padding {
    padding: 2rem
}

.footer--color {
    background-image: linear-gradient(to bottom,#FFFFFF,#b7d8cc);
    color: #13583f;
}
h5 {
    font-weight: bolder;
}


/* Para niños */

.grid-ninos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12% 22% 22% 22% 22%;
    height: 190vh;
    margin: 0.7rem;
    padding: 0.7rem;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "intro intro intro"
    "video1 video3 video3"
    "video2 video3 video3"
    "video4 video4 video4"
    "video4 video4 video4";
}
div iframe {
    border: #258260 0.01rem solid;
    padding: 0.1rem;
}
.grid-intro {
    grid-area: intro;
    justify-content: center;
}
.grid-video-1 {
    grid-area: video1;
}
.grid-video-2 {
    grid-area: video2;
}
.grid-video-3 {
    grid-area: video3;
}
.grid-video-4 {
    grid-area: video4;
}

@media (max-width: 320px) {
    .video--chico {
        width: 250px;
        height: 160px;
    }
    .video--grande {
        width: 250px;
        height: 160px;
    }
    .div--padding {
        padding: 0rem
    }
    .grid-ninos {
        font-size: 0.75rem;
        margin: 0.3rem;
        padding: 0.3rem;
        justify-items: start;
        grid-template-areas: 
        "intro intro intro"
        "video1 video1 video1"
        "video2 video2 video2"
        "video3 video3 video3"
        "video4 video4 video4";    
    }
}

@media (max-width: 480px) and (min-width: 321px) {
    .video--chico {
        width: 285px;
        height: 230px;
    }
    .video--grande {
        width: 285px;
        height: 230px;
    }
    .grid-ninos {
        font-size: 0.85rem;
        margin: 0.3rem;
        padding: 0.3rem;
        grid-template-areas: 
        "intro intro intro"
        "video1 video1 video1"
        "video2 video2 video2"
        "video3 video3 video3"
        "video4 video4 video4";    
    }
}

@media (max-width: 600px) and (min-width: 481px) {
    .video--chico {
        width: 285px;
        height: 230px;
    }
    .video--grande {
        width: 285px;
        height: 230px;
    }
    .grid-ninos {
        height: 255vh;
        font-size: 0.85rem;
        margin: 0.3rem;
        padding: 0.3rem;
        grid-template-areas: 
        "intro intro intro"
        "video1 video1 video1"
        "video2 video2 video2"
        "video3 video3 video3"
        "video4 video4 video4";    
    }
}

@media (max-width: 767px) and (min-width: 601px) {
    .video--chico {
        width: 170px;
        height: 100px;
    }
    .video--grande {
        width: 370px;
        height: 220px;
    }
    .grid-ninos {
            height: 110vh;
            font-size: 0.85rem;
            margin: 0.5rem;
            padding: 0.5rem;

    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .video--chico {
        width: 230px;
        height: 140px;
    }
    .video--grande {
        width: 480px;
        height: 290px;
    }
    .grid-ninos {
            height: 140vh;
            font-size: 0.85rem;
            margin: 0.5rem;
            padding: 0.5rem;

    }
}
@media (max-width: 1199px) and (min-width: 1024px) {
    .video--chico {
        width: 320px;
        height: 190px;
    }
    .video--grande {
        width: 640px;
        height: 385px;
    }
}




/*Consejos + Preguntas Frecuentes */
.flex-padre {
    display: flex;
    flex-flow: row, wrap;
    padding: 1rem;
    margin: 1rem;
    height: 20rem;
}
.flex-hijo-titulo {
    width: 70rem;
    margin: 1rem;
}
.flex-hijo-video {
    width: 90rem;
    margin: 1rem;
}




/*Formulario*/
.form--margen {
    margin: 2rem;
    width: 60%;
}
@media (max-width: 800px) {
    .form--margen {
    margin: 0rem;
    width: 90%;
    }
}

form {
    border: 0.1rem solid #258260;
    margin: 1rem;
    padding: 1rem;
    background-color: #97dcc3;
    font-weight: bold;
}

